<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Executor de Atividades PJCE - 3.0</title>
    <url>https://pje2unifor.tjce.jus.br/pje2grau/login.seam</url>
    <directoryLog>Logs</directoryLog>
    <directoryImages>Images</directoryImages>
    <directoryDriver>Driver</directoryDriver>
    <driverNameList>
        <value>Driver 0.18.0 para Mozilla Superior ou Igual a Versão 27</value>
        <value>Driver 0.19.0 para Mozilla Superior ou Igual a Versão 55</value>
        <value>Driver 0.21.0 para Mozilla Superior ou Igual a Versão 57</value>
        <value>Driver 0.26.0 para Mozilla Superior ou Igual a Versão 60</value>
        <value>Driver 0.27.0 para Mozilla Superior ou Igual a Versão 79</value>
    </driverNameList>
    <filterXLS>X</filterXLS>
    <columnRobo>0</columnRobo>
    <columnProcess>1</columnProcess>
    <columnData>2</columnData>
    <columnHour>3</columnHour>
</config>