<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Robô de Automações de Atividades PJE - 8.0</title>
    <url>https://pje2unifor.tjce.jus.br/pje2grau/login.seam</url>
   <!-- <url>https://pje.tjce.jus.br/pje2grau/login.seam</url>-->
    <directoryLog>Logs</directoryLog>
    <directoryImages>Images</directoryImages>
    <directoryDriver>Driver</directoryDriver>
    <directoryData>Database</directoryData>
    <directoryProxy>BrowsermobProxy</directoryProxy>
    <directoryLogTraffic>Traffic</directoryLogTraffic>
    <filterXLS>X</filterXLS>
    <columnRobo>0</columnRobo>
    <columnProcess>1</columnProcess>
    <columnData>2</columnData>
    <columnSession>3</columnSession>
    <columnResult>2</columnResult>
    <dataRecorren>
        <recorrentes>
            <codDesc>Prejudicado</codDesc>
            <cod>230</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Não Conhecido</codDesc>
            <cod>235</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Provido</codDesc>
            <cod>237</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Parcialmente Provido</codDesc>
            <cod>238</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Improvido</codDesc>
            <cod>239</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Embargo Acolhido</codDesc>
            <cod>198</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Embargo não Acolhido</codDesc>
            <cod>200</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Concedida Segurança</codDesc>
            <cod>442</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Denegada Segurança</codDesc>
            <cod>446</cod>
        </recorrentes>
        <recorrentes>
            <codDesc>Embargo Parcialmente Acolhido</codDesc>
            <cod>871</cod>
        </recorrentes>
    </dataRecorren>
</config>